.service-style:hover {
  box-shadow: 0px 0px 25px;
  background-color: lightslategray;
  transition: 0.5s;
  color: black;
}
.service-style {
  background-color: rgb(19, 18, 18);
  color: rgb(255, 255, 255);
}
.service-btn {
  background-color: rgb(15, 219, 255);
  border: none;
  padding: 7px;
  font-weight: 600;
  color: black;
}
.service-btn:hover {
  background-color: rgb(0, 0, 0);
  border: none;
  padding: 7px;
  font-weight: 600;
  color: white;
}
.service-style img {
  height: 160px;
}
