.service-style:hover {
  box-shadow: 0px 0px 10px;
  background-color: rgb(255, 229, 145);
  transition: 0.5s;
  color: rgb(255, 72, 72);
}
.service-style {
  background-color: rgb(165, 240, 250);
  color: rgb(114, 107, 107);
}
.service-btn {
  background-color: rgb(255, 72, 72);
  border: none;
  padding: 7px;
  font-weight: 600;
  color: black;
}
.service-btn:hover {
  background-color: rgb(101, 207, 214);
  border: none;
  padding: 7px;
  font-weight: 600;
  color: white;
}
.service-style img {
  height: 160px;
}
